// Screens sizes
$mobileScreen: 200px;
$tabletScreen: 600px;
$desktopScreen: 1000px;

// Colors
$defaultColor: #EC523F;
$seagreen: #1ABC9C;
$orange: #E67E22;
$blue: #3498DB;
$green: #2ECC71;

// Font Familys
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
$fontFamily: 'Open Sans', sans-serif;
