img {
    width: 40%;
}

iframe {
    width: 40%;
}

@media (min-width: 200px) {

    main {
        padding-top: 5vh;
        row-gap: 10vh;
    }

    header {
        height: 50vh;

        > section {
            height: 100%;
            width: 100%;
            background-color: rgba(50,50,50,.8);
            align-items: center;
            row-gap: 4vh;
            > ul {
                display: none;
            }

            > article {
                align-items: center;
                color: whitesmoke;
                row-gap: 2vh;
            }

            article > a {
                color: whitesmoke;
                background-color: $defaultColor;
                border-radius: 5px;
                padding: 2%;
                width: 50%;
                text-align: center;
                font-weight: 600;
            }

            h2 {
                border-bottom: 1px solid whitesmoke;
            }
        }
    }

    nav > ul {
        display: none;
    }

    %title {
        @include flexColumn(2vh);
        @include flexCenter;

        > p {
            text-align: center;
        }
    }

    %content {
        @include flexColumn(5vh);
        align-items: center;
    }

    .row {
        display: flex;
        row-gap: 5vh;

        > article {
            @extend %title;
        }

        > section {
            @extend %content;
        }
    }

    .services {

        > section {
            @include flexColumn(5vh);
            align-items: center;

            > aside:nth-child(1) {
                background-color: $seagreen;
            }
            > aside:nth-child(2) {
                background-color: $orange;
            }
            > aside:nth-child(3) {
                background-color: $blue;
            }
            > aside:nth-child(4) {
                background-color: $green;
            }
        }

        aside {
            color: whitesmoke;
            min-height: 35vh;
            width: 90%;
            @include flexColumn(2vh);
            @include flexCenter;

            > p {
                color: whitesmoke;
                width: 80%;
                text-align: center;
                font-size: 18px;
            }
        }

        i {
            display: none;
        }

        h4 {
            border-bottom: 1px solid whitesmoke;
            padding-bottom: 1vh;
            font-size: 24px;
        }
    }

    .portfolio {

        align-items: center;

        > section {
            width: 95%;
            @include flexColumn(2vh);
        }

        figcaption {
            display: none;
        }

        img {
            width: 100%;
            height: 45vh;
        }
    }

    .gallery {
        @include flexColumn(3vh);

        > figure {
            align-items: center;
        }

        img {
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
        }

        figcaption {
            display: none;
        }
    }

    .skills {

        @include flexColumn(5vh);
        > article {
            @extend %title;
            row-gap: 0vh;
            > p {
                font-size: 14px;
                font-style: italic;
                width: 90%;
            }
        }

        aside,
        > section {
            @extend %content;
        }

        aside {
            width: 90%;
        }

        h3 {
            font-size: 18px;
            font-style: italic;
            color: gray;
            font-weight: 400;
        }

        ul {
            width: 90%;
            @include flexColumn(2vh);
        }

        li {
            display: flex;
            width: 100%;
            background-color: gainsboro;
            height: 5vh;
        }

        h6 {
            background-color: $defaultColor;
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        li:nth-child(1) >  h6 {
            width: 90%;
        }

        li:nth-child(3) > h6 {
            width: 70%;
        }

        small {
            color: whitesmoke;
            padding-left: 2vh;
        }

    }

    .contact {
        > section > article {
            @include flexColumn(3vh);
            width: 90%;
            font-size: 14px;
        }

        > section > section {
            width: 90%
        }

        ul {
            @include flexColumn(1vh);
            list-style-type: none;
            color: dimgray;
            a {
                color: $defaultColor;
            }
        }

        li {
            display: flex;
        }
    }

    form {
        row-gap: 2vh;
    }

    input {
        height: 5vh;
    }

    textarea {
        height: 30vh;
    }

    input,
    textarea {
        border: 1px solid darkgrey;
    }

    ::placeholder {
        padding: 2vw;
        color: darkgrey;
    }

    [type=submit] {
        background-color: $defaultColor;
        color: whitesmoke;
        border: 3px solid transparent;
    }

    footer {
        padding-top: 10vh;
        @include flexColumn(2vh);
        align-items: center;

        p {
            font-size: 14px;
        }

        a {
            background-color: $defaultColor;
            padding: 3%;
            color: whitesmoke;
            text-align: center;
            width: 50%;
        }
    }

}