@media (min-width: $tabletScreen) {

    header {
        > section {
            > ul {
                display: flex;
                list-style-type: none;
                padding-top: 5%;
                column-gap: 2vw;
            }

            > article {
                height: 100%;
                justify-content: center;
            }
        }

        article > a {
            transition: .6s;
            border: 1px solid $defaultColor;
        }

        &:hover {
            background-color: transparent;
        }

    }

    li [class=envelope],
    li [class=brands] {
        border: 2px solid whitesmoke;
            border-radius: 50%;
            display: flex;
            @include flexCenter;
            background-color: whitesmoke;
            color: dimgray;
            height: 3vh;
            width: 3vh;
            text-align: center;
            transition: .5s;

            &:hover {
                background-color: transparent;
                color: whitesmoke;
            }
    }

    h2 {
        font-size: 36px;
    }

    h5 {
        font-size: 20px;
    }

    .team-gallery {
        @include flexColumn(3vh);

        > figure {
            align-items: center;
        }

        img {
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
        }

        figcaption {
            display: none;
        }
    }
    
    .skills {
        @include flexColumn(5vh);
        > article {
            @extend %title;
            row-gap: 0vh;
            > p {
                font-style: italic;
                font-size: 14px;
                width: 90%;
            }
        }

        aside {
            width: 90%;
        }

        aside, 
        > section {
            @extend %content;
        }

        h3 {
            text-transform: uppercase;
            font-size: 18px;
            font-style: italic;
            color: gray;
            font-weight: 400;
        }

        ul {
            @include flexColumn(2vh);
            width: 90%;
        }

        li {
            display: flex;
            width: 100%;
            height: 5vh;
            background-color: gainsboro;
        }

        li:first-child > h6 {
            width: 90%;
        }

        li:nth-child(3) > h6 {
            width: 70%;
        }

        h6 {
            display: flex;
            align-items: center;
            width: 80%;
            height: 100%;
            background-color: $defaultColor;
        }

        small {
            color: whitesmoke;
            padding-left: 2vh;
            text-transform: uppercase;
        }
    }

    .contact {
        > section {
            flex-direction: row;
            width: 90%;
            column-gap: 4vw;
            align-items: center;
        }

        p > {
            font-size: 18px;
        }
    }

    input {
        height: 3vh;
        padding-left: 1vw;
    }

    textarea {
        height: 20vh;
        padding-left: 1vw;
    }

    [type=submit]{
        border: 3px solid $defaultColor;
        transition: .6s;

        &:hover {
            background-color: transparent;
            color: $defaultColor;
            cursor: pointer;
        }
    }
}